header{
    text-align: center;
}

header img{
    width: 110px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px #860faa;
}

div#fundo-questao{
    background-color: #efbeff8e;
    border-radius: 5px;
    text-align: center;
}

Button#botao1{
    padding: 30px;
    font-size: 40px;
    color: white;
    border-radius: 10px;
}